<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href ="main.css" rel = "stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Урок 013 Основы HTML/CSS. Bootstrap</title>
</head>
<body>

<style>
body { background-color:#99FFCC; }
</style>

</br>

<div class="mainpage" align = "center">
 <div class="shadowbox">
    <h1> Парсер сайта HH.ru</h1>
 </div>
</div>
</br>

<div class="mainpage" align = "center">
<!-- Информация об авторе -->
 <div class="card" style="width: 18rem;">
  <img src="MSO.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Информация об авторе</h5>
    <p class="card-text"> <h5><b>Матвеенко Сергей Олегович</b></h5></p>
	<p>Студент УИИ 2022.</p> <p>Курс: Python-разработчик </p>
    <!--<a href="#" class="btn btn-primary">Переход куда-нибудь</a> -->
  </div>
 </div>
</div>


</br>


<table align = "center">
 <tr> 
  <td>
   <form action="index.html">
    <button type="submit" class = "btn btn-secondary">На главную</button>
   </form>
  </td> 
 <tr>
</table>

</html>