<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href ="main.css" rel = "stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Урок 013 Основы HTML/CSS. Bootstrap</title>
</head>
<body  id="page-top">

<style>
body { background-color:#99FFCC; }
</style>






<hr>
 <div class = "mainpage">


        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">
				 <div class="shadowbox">
                  <h1> Парсер сайта HH.ru</h1>
                 </div>
				</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="requests.html"><h5>Запросы</h5></a></li>
						<li class="nav-item"><a class="nav-link" href="about.html"><h5>Автор</h5></a></li>
                        
                        
                    </ul>
                </div>
            </div>
        </nav> 



 

 </br></br></br>
 
 <div class="jumbotron">
  <h1 class="display-4">Привет!</h1>
  <p class="lead">Этот пример парсера сайта HH.ru позволит быстро провести поиск вакансий и покажет ключевые навыки для трудоустройства на хорошую заработную плату. </p>
  <p class="lead"> А так же позволит посмотреть в каких городах зарплаты по указанной профессии выше чем в других </p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="requests.html" role="button">Приступить</a>
  </p>
</div>
 
 
 
  
</div>


 




</body>
</html>