<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href ="main.css" rel = "stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Результат поиска</title>
</head>
<body>

<style>
body { background-color:#99FFCC; }
</style>



 <br>
 <div class="mainpage" align = "center">
 <div class="shadowbox">
  <h4>
    Результаты выборки по запросу
    <p>Страна: Россия     Профессия: Программист 1С</p>

  </h4>
 </div>
</BR>
<div class="block">
<div class="forbody">
<table border="1" cellpadding="1" cellspacing="2" align = "center">
<!-- Заголовок таблицы-->
 <thead class="thead-dark">
  <tr>
   <th>№ п/п </th>
   <th>Город</th>
   <th>Минимальная зарплата</th>
   <th>Максимальная зарплата</th>
   <th>К вакансии</th>

  </tr>
 </thead>
<!-- Строки данных   -->
 <tr>
 <td><B>1</B></td>
  <td>
   <B>
    Москва
   </B> 
  </td>
 <td><B>20000</B></td>
 <td><B>330000</B></td> 
 <td><B><a href = ""> Перейти ... </A></B></td> 

 </tr>

 <tr>
 <td><B>2</B></td>
 <td><B>Белгород</B></td>
 <td><B>40000</B></td>
 <td><B>250000</B></td>
<td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>

 <tr>
 <td><B>3</B></td>
 <td><B>Санкт-Петербург</B></td>
 <td><B>60000</B></td>
 <td><B>220000</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>

 <tr>
 <td><B>4</B></td>
 <td><B>Тюмень</B></td>
 <td><B>100800</B></td>
 <td><B>210000</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>

 <tr>
 <td><B>5</B></td>
 <td><B>Казань</B></td>
 <td><B>203000</B></td>
 <td><B>203000</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>

 <tr>
 <td><B>6</B></td>
 <td><B>Воронеж</B></td>
 <td><B>150000</B></td>
 <td><B>200000</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td>  
</tr>

 <tr>
 <td><B>7</B></td>
 <td><B>Кемерово</B></td>
 <td><B>100000</B></td>
 <td><B>200000</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>

 <tr>
 <td><B>8</B></td>
 <td><B>Балашиха</B></td>
 <td><B>200000</B></td>
 <td><B>200000</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>

 <tr>
 <td><B>9</B></td>
 <td><B>Владивосток</B></td>
 <td><B>150000</B></td>
 <td><B>190000</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>

 <tr>
 <td><B>10</B></td>
 <td><B>Томск</B></td>
 <td><B>100000</B></td>
 <td><B>190000</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>

 <tr>
 <td><B>11</B></td>
 <td><B>Нижний Новгород</B></td>
 <td><B>40000</B></td>
 <td><B>180000</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>


 <tr>
 <td><B>12</B></td>
 <td><B>Самара</B></td>
 <td><B>100000</B></td>
 <td><B>160000</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>

 <tr>
 <td><B>13</B></td>
 <td><B>Кострома</B></td>
 <td><B>35000</B></td>
 <td><B>153000</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>

 <tr>
 <td><B>14</B></td>
 <td><B>Липецк</B></td>
 <td><B>150000</B></td>
 <td><B>150000</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>

 <tr>
 <td><B>15</B></td>
 <td><B>Барнаул</B></td>
 <td><B>20000</B></td>
 <td><B>330000</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>

 <tr>
 <td><B>16</B></td>
 <td><B>Ижевск</B></td>
 <td><B>150000</B></td>
 <td><B>150000</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>

 <tr>
 <td><B>17</B></td>
 <td><B>Оренбур</B></td>
 <td><B>150000</B></td>
 <td><B>150000</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>

 <tr>
 <td><B>18</B></td>
 <td><B>Орел</B></td>
 <td><B>150000</B></td>
 <td><B>150000</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>

 <tr>
 <td><B>19</B></td>
 <td><B>Курск</B></td>
 <td><B>150000</B></td>
 <td><B>150000</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>

 <tr>
 <td><B>20</B></td>
 <td><B>Тула</B></td>
 <td><B>120000</B></td>
 <td><B>150000</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>


 </table><br />
</div>
</div>

<table align = "center">
 <tr>
  <td>
    <form action="requests.html">
      <button type="submit" class = "btn btn-secondary">К запросу</button>
    </form>
  </td>

  <td>
   <form action="index.html">
    <button type="submit" class = "btn btn-secondary">На главную</button>
   </form>
  </td> 
 <tr>
</table>

</div>

</body>
</html>