<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href ="main.css" rel = "stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Результат поиска</title>
</head>
<body>

<style>
body { background-color:#99FFCC; }
</style>

 </br>

 <div class="mainpage" align = "center">
 <div class="shadowbox">
  <h4>
    Результаты выборки по запросу
    <p>Профессия: PYTHON  Область поиска: Везде</p>

  </h3>
 </div>
</BR>
<div class="block">
<div class="forbody">
<table border="1" cellpadding="1" cellspacing="2" align = "center">
<!-- Заголовок таблицы-->
 <tr>
   <th>№ п/п </th>
   <th>Название</th>
   <th>Процент упоминаний</th>
    <th>К вакансии</th>

 </tr>

<!-- Строки данных   -->
 <tr>
 <td><B>1</B></td>
  <td>
   <B> Python  </B> 
  </td>
 <td><B>85%</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 

 </tr>

 <tr>
 <td><B>2</B></td>
 <td><B>PostgreSQL</B></td>
 <td><B>37,7%</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>

 <tr>
 <td><B>3</B></td>
 <td><B>Django</B></td>
 <td><B>33%</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>

 <tr>
 <td><B>4</B></td>
 <td><B>ML</B></td>
 <td><B>10%</B></td>
 <td><B><a href = ""> Перейти ... </A></B></td> 
 </tr>

 

 </table><br />
</div>
</div>

<table align = "center">
 <tr>
  <td>
    <form action="requests.html">
      <button type="submit" class = "btn btn-secondary">К запросу</button>
    </form>
  </td>

  <td>
   <form action="index.html">
    <button type="submit" class = "btn btn-secondary">На главную</button>
   </form>
  </td> 
 <tr>
</table>

</div>

</body>
</html>